@import "../../styles/globals.scss";

.chat {
  overflow: hidden;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 50px #00000027;
  border-radius: 9px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: all ease-in-out 0.3s;
  &.isOpen {
    transform: scale(1);
  }
  .header {
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 29px 30px 21px 33px;

    .title {
      flex-grow: 1;
    }
  }
  .contentNotActive {
    padding: 36px 55px 27px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-align: center;
    h1 {
      @include font(26px, bold, 40px);
    }
    p {
      @include font(16px, normal, 24px);
    }
  }
  .input {
    margin: 0 12px 12px 12px;
  }
}
