@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize;
}

@mixin font(
  $size: $font-size-base,
  $weight: normal,
  $line-height: 1.5,
  $color: $dark
) {
  font-size: $size; //Fallback in px
  font-size: #{calculateRem($size)}rem;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
}
